.aboutHead{
    margin-top: 40px;
}

.cbg-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.76),rgba(0, 0, 0, 0.822)),url(/assets/img/website.avif);
    height: fit-content;
    width: 100%;
    padding: 30px;
}
.cbg-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.76),rgba(0, 0, 0, 0.822)),url(/assets/img/computer\ working.avif);
    height: fit-content;
    width: 100%;
    padding: 30px;
}
.cbg-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.76),rgba(0, 0, 0, 0.822)),url(/assets/img/create\ website.avif);
    height: fit-content;
    width: 100%;
    padding: 30px;
}

.aboutcarouselimg{
    height: 60px;
    width: 45px;
    border-radius: 50%;
    margin-right: 20px;
}
.aboutCHead{
    color: rgb(2, 184, 170);
}
.aboutCContent{
    color: white;
    text-align: start;
}
.aboutRating{
    color: rgb(2, 184, 170);
    text-align: start;
}

/* service */
.service{
    padding-top: 30px;
    padding-bottom: 30px;
}
.serviceHead{
    padding: 30px;
}

.card-body {
    background-color: black;
}
.card-title{
    color: white !important;
}
.card:hover .card-body{

    background-color:  rgb(2, 184, 170);
}
.card:hover{
    border: 1px solid rgb(2, 184, 170);
}
.card:hover .card-body p{
    color: black !important;
}
.card:hover img{
    padding: 5px;
    background-color: rgb(2, 184, 170);
}

/* manager */

.manager{
    height: fit-content;
    width: 100%;
    background-color: rgb(2, 184, 170);
    padding-top: 60px;
    padding-bottom: 60px;
    color: black;
}
