.workHead{
    color: rgb(2, 184, 170);
    padding-top: 40px;
    padding-bottom: 30px;
}
.whead{
    font-size: small;
    color: gray;
    padding: 8px;
}
.whead:hover{
    color: black;
    border-top: 4px solid rgb(2, 184, 170);
}

.cb{
    border: none;
}

.ico{
    height: 50px;
}

.card:hover{
    background-color: rgb(2, 184, 170);
    color: black;
    border: 2px solid rgb(2, 184, 170);
    border-radius: 0 5px 0 5px; 
}
.card:hover .card-title{
    color: black !important;
}
.card:hover .card-text{
    color: white !important;
}
.btn-dark{
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.btn-dark:hover{
    background-color: rgb(158, 148, 148) !important;
    color:black !important;
}