*{
    box-sizing: border-box !important;
}
a{
    text-decoration: none !important;
}
nav{
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px rgb(2, 184, 170);
}
.nav-link:hover{
    color: rgb(2, 184, 170) !important;
}

.nav-item .active{
    color: rgb(2, 184, 170) !important;
}

.buttn{
    background-color: rgb(2, 184, 170);
    color: black;
    font-weight: bold;
    border-radius: 30px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    border: none;
    margin-right: 20px;
}

.buttn:hover{
    background-color: rgba(0, 0, 0, 0.027);
    color: rgb(2, 184, 170);
    border: 1px solid rgb(2, 184, 170);
}
.warp{
    overflow: hidden;
}

/* bottom animation */
.op{
    opacity: 0;
}
.bottomani{
    position: relative;
    animation: botom 2s;
}

@keyframes botom{
    from {bottom:-150px;opacity:0}
    to{bottom:0;opacity:1;}
}

/* FOOTER*/
footer{
    color: white;
    background-color: black;
    position: relative;
    bottom: 0;
    width: 100%;
    height: fit-content;
    padding-top: 60px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 80%;
}

small{
    font-size: 13px !important;
}
.footcontact{
    border-right: 1px solid rgb(2, 184, 170);
}
.footcontact p:hover{
    color: rgb(2, 184, 170);
}

.social a{
    text-decoration: none;
    color: white;
    line-height: 200%;
}
.social a:hover{
    color: rgb(2, 184, 170);
}